<style>
    .container {
        max-width: 600px;
        margin: 0 auto;
        .
    }

    .fundoFor {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }

    .fundo h3 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
    }

    .formulario label {
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .formulario input,
    .formulario select {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
        width: 100%;
        box-sizing: border-box;
        border-color: black;
        border-style: solid;
    }

    .formulario button {
        padding: 10px 20px;
        margin: 10px 0;
    }

    .formulario button {
        background-color: #6a3ddb;
        border-radius: 10px;
        font-size: 1em;
        word-spacing: 1px;
        font-weight: medium;
        border-radius: 10px;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .formulario button:hover {
        background-color: #8d6ae5;
    }
</style>

<main>
    <div class="container">
        <div class="fundoFor">
            <h3> Editar Aluno: </h3>
            <div class="formulario">
                <div class="questionario">
                    <form action="/rota_aluno/aluno/editar_aluno" method="POST">
                        {{#each alunos}}
                        <label for="id_aluno">ID: </label>
                        <input type="text" name="id_aluno" readonly="true" class="form-control" value="{{id_aluno}}">
                        <br>
                        <label for="nome">Nome: </label>
                        <input type="text" id="nome" name="nome" class="form-control" value="{{nome}}">
                        <br>
                        <label for="matricula">Matricula: </label>
                        <input type="text" id="matricula" name="matricula" class="form-control" value="{{matricula}}">
                        <br>
                        {{/each}}
                        <label for="turma">Turma:</label>
                        <select name="fk_turma" class="custom-select">
                            {{#each turmas}}
                            <option value="{{id_turma}}">{{descricao}}</option>
                            {{else}}
                            <option value="0">Nenhuma turma
                                registrada</option>
                            {{/each}}
                        </select>
                        <br>
                        <br>
                        <button type="submit" onclick="javascript:alert('Alterado com sucesso!')">Editar
                            Aluno</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>